USE [PRODUCTDATABASE]
GO

CREATE TABLE [dbo].[PRODUCTS_DATA](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[ProductSubcategoryKey] [int] NULL,
	[WeightUnitMeasureCode] [nchar](3) NULL,
	[SizeUnitMeasureCode] [nchar](3) NULL,
	[EnglishProductName] [nvarchar](50) NOT NULL,
	[StandardCost] [money] NULL,
	[Color] [nvarchar](15) NOT NULL,
	[SafetyStockLevel] [smallint] NULL,
	[ListPrice] [money] NULL,
	[Size] [nvarchar](50) NULL,
	[Weight] [float] NULL,
	[DaysToManufacture] [int] NULL,
	[ProductLine] [nchar](2) NULL,
	[DealerPrice] [money] NULL,
	[Class] [nchar](2) NULL,
	[Style] [nchar](2) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PRODUCTS_DATA] ON 

INSERT [dbo].[PRODUCTS_DATA] ([ProductKey], [ProductSubcategoryKey], [WeightUnitMeasureCode], [SizeUnitMeasureCode], [EnglishProductName], [StandardCost], [Color], [SafetyStockLevel], [ListPrice], [Size], [Weight], [DaysToManufacture], [ProductLine], [DealerPrice], [Class], [Style]) VALUES (1, NULL, NULL, NULL, N'Adjustable Race', NULL, N'NA', 1000, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[PRODUCTS_DATA] ([ProductKey], [ProductSubcategoryKey], [WeightUnitMeasureCode], [SizeUnitMeasureCode], [EnglishProductName], [StandardCost], [Color], [SafetyStockLevel], [ListPrice], [Size], [Weight], [DaysToManufacture], [ProductLine], [DealerPrice], [Class], [Style]) VALUES (2, NULL, NULL, NULL, N'Bearing Ball', NULL, N'NA', 1000, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[PRODUCTS_DATA] ([ProductKey], [ProductSubcategoryKey], [WeightUnitMeasureCode], [SizeUnitMeasureCode], [EnglishProductName], [StandardCost], [Color], [SafetyStockLevel], [ListPrice], [Size], [Weight], [DaysToManufacture], [ProductLine], [DealerPrice], [Class], [Style]) VALUES (3, NULL, NULL, NULL, N'BB Ball Bearing', NULL, N'NA', 800, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS_DATA] OFF
